<header>
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <a routerLink="/" class="font-bold text-3xl no-underline text-primary"
        >Shopingo</a
      >
    </div>

    <div class="p-toolbar-group-center">
      <p-button
        label="Products"
        routerLink="/products"
        styleClass="p-button-text"
      ></p-button>
    </div>

    <div class="p-toolbar-group-end">
      @if (authService.isLoggedIn()) {
      <span class="mr-2">Welcome, {{ authService.currentUser()?.name }}</span>
      <p-button icon="pi pi-user" styleClass="p-button-text"></p-button>
      <p-button
        icon="pi pi-shopping-cart"
        styleClass="p-button-text"
      ></p-button>
      <p-button
        label="Logout"
        (click)="logout()"
        styleClass="p-button-text"
      ></p-button>
      } @else {
      <p-button
        label="Login"
        routerLink="/login"
        styleClass="p-button-text"
      ></p-button>
      <p-button
        label="Register"
        routerLink="/register"
        styleClass="p-button-text"
      ></p-button>
      }
    </div>
  </p-toolbar>
  <p-button
    icon="pi pi-shopping-cart"
    styleClass="p-button-text p-button-icon-only"
    pBadge
    [value]="cartService.cartCount()"
    [hidden]="cartService.cartCount() === 0"
  >
  </p-button>
</header>

<main class="content"><p-toast></p-toast> <router-outlet></router-outlet></main>
